.flex-container {
    display: flex;
    flex-direction: column;

    height: 507px;
    width: 500px;

    border: 3px solid black;
    border-radius: 30px;
}

.screen {
    height: 38px;
    width: 350px;
    display: flex;
    justify-content: flex-end;
    padding-right: 7px;
}

.clear, .delete {
    display: flex;
    border: 1px solid black;
    align-self: flex-start;
    background-color: #318AC5;
    margin: 6px;
    padding: 3px;
    border-radius: 30px;
}

.delete {
    background-color: #805068;
    color: #212728;
}

.clear:hover,
.button:hover {
    background-color: #D5B2C3;
    cursor: pointer;
}


.cell-rows {
    display: flex;
    flex-direction: row;
    background-color: #D4478E;
    border-radius: 0 0 30px 30px;
}

.screen-button {
    border-bottom: 2px solid;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.button {
    height: 98px;
    width: 121px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 30px;
    background-color: #FFAAD4;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.division {
    height: 66px;
    width: 66px;

}

.multiplication {
    width: 70px;
    height: 70px;
}

.addition {
    font-size: 70px;
}

.subtraction {
    font-size: 80px;
}

.equal {
    background-color: green;
}

.clear {
    background-color: #AA8799;
}

.operations {
    background-color: #507A80;
}
