.flex-container {
    display: flex;
    flex-direction: column;

    height: 507px;
    width: 500px;

    border: 3px solid black;
}

.screen {
    height: 38px;
    width: 350px;
    display: flex;
    justify-content: flex-end;
    padding-right: 7px;
}

.clear, .delete {
    display: flex;
    border: 1px solid black;
    align-self: flex-start;
    background-color: #318AC5;
    margin: 6px;
    padding: 3px;
}

.delete {
    background-color: grey;
}

.clear:hover,
.button:hover {
    background-color: #1397F0;
}


.cell-rows {
    display: flex;
    flex-direction: row;
}

.screen-button {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.button {
    height: 98px;
    width: 121px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.division {
    height: 95px;
    width: 121px;
}

.multiplication {
    width: 70px;
    height: 70px;
}

.addition {
    font-size: 70px;
}

.subtraction {
    font-size: 80px;
}
